/* General */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.input-label {
  font-size: 13px;
  margin-left: 10px;
}

.item-body {
  height: 100%;
}

/* NavBar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  margin-left: 150px;
  width: 100px;
}

.nav-link a {
  text-decoration: none;
  color: #2b6d97;
}

/* Banner */
.banner-container {
  background-image: url("../assets/mulher-executiva.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  display: flex;
  padding: 30px 40px;
  align-items: start;
  flex-direction: column;
  justify-content: flex-end;
}

.star-icon {
  color: #ffd43b;
}

.arrows {
  margin-left: 80%;
}

.arrows a {
  text-decoration: none;
  color: #ffffff;
}

.rotate {
  transform: rotate(180deg);
}

/* Register */
.register-container {
  padding: 30px 60px;
  align-items: center;
  display: grid;
}

.btn-th {
  background-color: #2b6d97;
}

.btn-th:hover {
  background-color: #042032;
}

.div-form {
  padding-bottom: 20px;
}

/* Login */
.login-container {
  padding: 35px 60px;
  align-items: center;
  display: grid;
  gap: 15px;
}

.login-link {
  text-decoration: none;
  color: #2b6d97;
}

.form-group {
  gap: 5px !important;
}

.password-link {
  font-weight: bold;
  text-decoration: none;
  color: #2b6d97;
  margin-left: 10px;
  padding-bottom: 20px;
}

.footer {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 9px;
}

.footer a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* Profile */
.navbar-profile {
  display: flex;
  background-color: #2b6d97;
  height: 50px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icon {
  color: #ffffff;
}

.nav-logout {
  background-color: #2b6d97;
}

.logout-link {
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  padding: 5px 15px;
}

.profile-container {
  width: 60%;
}

.custom-btn {
  color: #ffffff;
  padding-right: 40px;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photo-container {
  position: relative;
  width: 175px;
  height: 175px;
  border-radius: 70%;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid;
  object-fit: cover;
}

.camera-icon {
  position: relative;
  display: flex;
  bottom: 30px;
  font-size: 24px;
  cursor: pointer;
  background-color: #2b6d97;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.photo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.photo input {
  display: none;
}

.perfil-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
